nav {
	margin: 27px auto 0;

	position: relative;
	width: 590px;
	height: 50px;
	background-color: #323333;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-Home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-Register, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-Login, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #1d557a;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-Contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2b2c2c;
}
h1 {
	text-align: center;
	margin: 60px 0 60px;
	text-align: center;
	font-size: 40px;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
    background-color: #E76F51;
	/*border-radius: 15px;*/
	box-shadow: 30px 0 75px rgba(0, 0, 0, 0.5);
}

h3 {
	padding-top: 5%;
	text-align: center;
	text-align: center;
	font-size: 30px;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
}

#signin{
	background-color: #3498db;
	border-radius: 5px;
	color: white;
	border: 0px solid white;
	bottom: 1000px;
}

#signup{
	background-color: #3498db;
	border-radius: 5px;
	color: white;
	border: 0px solid white;
	bottom: 1000px;
}

input{
	top: -10px;
	position: relative;
	min-width: 175px;
	min-height: 20px;
}

p {
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-size: 16px;
}

.text{
	bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-size: 16px; 
}

span {
    color: #2BD6B4;
}

#form_content_container{
    min-height: 200px;
	max-width: 300px;
    background-color: #4c4d4d;
	border-radius: 10px;
	box-shadow: 10px 0 50px rgba(0, 0, 0, 0.5);
	/*border: 0.5px solid white;*/
}

#button_container{
    padding-bottom: 5%;
}

#mailing{
	display: inline;
}